@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark .dark &;

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1408 0.0044 285.8229);
  --card: oklch(0.9816 0.0017 247.8390);
  --card-foreground: oklch(0.1408 0.0044 285.8229);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1408 0.0044 285.8229);
  --primary: oklch(0.3722 0.0966 268.4941);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9550 0.0070 268.5469);
  --secondary-foreground: oklch(0.3722 0.0966 268.4941);
  --muted: oklch(0.9632 0.0034 247.8585);
  --muted-foreground: oklch(0.5544 0.0407 257.4166);
  --accent: oklch(0.9550 0.0070 268.5469);
  --accent-foreground: oklch(0.3722 0.0966 268.4941);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9417 0.0052 247.8790);
  --input: oklch(0.9417 0.0052 247.8790);
  --ring: oklch(0.3722 0.0966 268.4941);
  --chart-1: oklch(0.3722 0.0966 268.4941);
  --chart-2: oklch(0.5367 0.0932 271.2615);
  --chart-3: oklch(0.6914 0.0916 273.1826);
  --chart-4: oklch(0.8357 0.0816 273.7998);
  --chart-5: oklch(0.6483 0.0748 269.1937);
  --sidebar: oklch(0.3722 0.0966 268.4941);
  --sidebar-foreground: oklch(0.98 0.01 268);
  --sidebar-primary: oklch(0.45 0.11 268);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.42 0.0966 268.4941);
  --sidebar-accent-foreground: oklch(0.98 0.01 268);
  --sidebar-border: oklch(0.32 0.0966 268.4941);
  --sidebar-ring: oklch(0.45 0.12 268);
  --font-sans: Inter;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 2px 4px -1px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 2px 4px -1px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 2px 4px -1px hsl(0 0% 0% / 0.05), 0px 1px 2px -2px hsl(0 0% 0% / 0.05);
  --shadow: 0px 2px 4px -1px hsl(0 0% 0% / 0.05), 0px 1px 2px -2px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 2px 4px -1px hsl(0 0% 0% / 0.05), 0px 2px 4px -2px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 2px 4px -1px hsl(0 0% 0% / 0.05), 0px 4px 6px -2px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 2px 4px -1px hsl(0 0% 0% / 0.05), 0px 8px 10px -2px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 2px 4px -1px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0px;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1583 0.0027 247.9978);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0.1815 0.0026 247.9706);
  --card-foreground: oklch(1.0000 0 0);
  --popover: oklch(0.1583 0.0027 247.9978);
  --popover-foreground: oklch(1.0000 0 0);
  --primary: oklch(0.5367 0.0932 271.2615);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2666 0.0150 256.7978);
  --secondary-foreground: oklch(0.9550 0.0070 268.5469);
  --muted: oklch(0.2077 0.0050 248.0705);
  --muted-foreground: oklch(0.7137 0.0192 261.3246);
  --accent: oklch(0.2666 0.0150 256.7978);
  --accent-foreground: oklch(0.9550 0.0070 268.5469);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2621 0.0095 248.1897);
  --input: oklch(0.2621 0.0095 248.1897);
  --ring: oklch(0.5367 0.0932 271.2615);
  --chart-1: oklch(0.5367 0.0932 271.2615);
  --chart-2: oklch(0.3722 0.0966 268.4941);
  --chart-3: oklch(0.6914 0.0916 273.1826);
  --chart-4: oklch(0.8357 0.0816 273.7998);
  --chart-5: oklch(0.6483 0.0748 269.1937);
  --sidebar: oklch(0.3 0.08 268);
  --sidebar-foreground: oklch(0.9 0.03 268);
  --sidebar-primary: oklch(0.4 0.1 268);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.35 0.08 268);
  --sidebar-accent-foreground: oklch(0.9 0.03 268);
  --sidebar-border: oklch(0.35 0.08 268);
  --sidebar-ring: oklch(0.35 0.1 268);
  --font-sans: Inter;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 4px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow: 0px 2px 4px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 2px 4px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 2px 4px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 2px 4px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 2px 4px -1px hsl(0 0% 0% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .main-container {
    container-type: inline-size;
    container-name: main;
  }
}